#main {
    overflow-y: scroll;
}

#body {
    overflow: hidden;
}

.list-group {
    display: inline-block
}

#side {
    background-color: #5037de;
}

.nav a {
    color: #ffffff;
}

#side {
    font-size: 1.5rem;
}

.mobilenav a {
    font-size: 1rem;
}

.nav-pills .nav-link.active {
    background-color: #9a9aa9 !important;
    color: #212529 !important;
}

.nav-pills .nav-link:hover{
    color: #ffe58f !important;
}

p {
    font-size: 1rem;
}

#ContactInfo{
    font-size: 1rem;
}

@media only screen and (min-width: 450px){
    .mobilenav a {
        font-size: 1.65rem;
    }
}

@media only screen and (min-width: 1440px){
    p {
        font-size: 1.15rem;
    }
    
    #ContactInfo{
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 2000px){
    p {
        font-size: 1.5rem;
    }
    
    #ContactInfo{
        font-size: 1.5rem;
    }
}